body {
  margin: 0;
}

.dashboard {
  * {
    margin: 0;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  background-color: #726b82;
  color: whitesmoke;

  &__picker {
    display: flex;
  }

  &__picker {
    margin: 10px 0;
  }
}

.month-picker {
  &__input {
    margin-left: 20px;
  }

  &__label {
    margin-left: 20px;
  }
}

.data-picker {
  &__label {
    margin-left: 10px;
  }

  &__input {
    margin-left: 20px;
  }
}

.charts {
  display: grid;
  grid-template-areas:
    "map pie"
    "map bar";
  align-items: center;

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: x-large;

    &--histogram {
      margin-top: 0;
    }
  }
}

.tooltip {
  opacity: 0;
  position: absolute;
  margin: 5px;
  padding: 5px;

  pointer-events: none;

  background-color: white;
  border-radius: 3px;

  p {
    margin: 0;
    font-size: xx-small;
  }
}

.map {
  grid-area: map;
}
.pie {
  grid-area: pie;
}
.histogram {
  grid-area: bar;
}

.active {
  stroke: lightyellow;
  stroke-width: 1px;
}

.country {
  stroke: lightgray;
}

.no-display {
  position: absolute;
  top: 80%;
}
